<!-- HTML YERINE EJS KULLANACAKSIN-->

<ul>
<% for(var i=0;i<kisiDizisi.length;i++)
{%>
<li><%= kisiDizisi[i] %> </li>
<%}%>
</ul>

<!--<div class="container">
<div class="row">
<div class="col-md-6" >
<p class="text-center" style="background-color:red;width:100%;">Hello moto</p>

 </div>
<div class="col-md-6" style="background-color:black;">
<div class="offset-2" style="background-color:green;"><p class="text-center" style="color:purple;">Hello moto</p> </div>

 </div>
 </div>
</div>
<script>
      window.alert("fsafs");
  
</script>-->
<nav class="navbar navbar-expand-lg  fixed-top   navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div style="height:5000px;width:50px;background-color:red;"><div>