<div class="container"> 

<div style="margin:0 auto; width:380px;"> 
  <form action="/login" method="POST">
  <div class="form-row align-items-center mt-5">
<div class="mb-2 mx-auto" style="background-color:white;font-weight:bold;font-size:18px;" >
Giriş Paneli
</div>

      <label class="sr-only" for="inlineFormInputGroup">Kullanıcı Adı</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="username" placeholder="Kullanıcı Adı" name="kullaniciAdi">
      </div>
 
   
      <label class="sr-only" for="inlineFormInputGroup">Parola</label>
       <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text px-3">P</div>
        </div>
      <input type="text" class="form-control " id="password" placeholder="Parola" name="parola">
    </div>
      
 
      <div class="form-check mb-2 my-2">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck">
        <label class="form-check-label" for="autoSizingCheck">
         Beni hatırla
        </label>
      </div>


    
     <div class="ml-4">
      <a href="#" class="btn btn-primary  px-4">Kayıt Ol</a>
      <button type="submit" class="btn btn-success px-5">Giriş</button>

 
    </div>
  </div>
</form> 
<div>
  


</div>